In [1]:
import numpy as np
import pandas as pd
import time
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
py_netflix_data = pd.read_csv('unscaled_title_data.csv')
py_netflix_data.head()

,Cust_Id,American Beauty,The Wedding Planner,Pirates of the Caribbean: The Curse of the Black Pearl,50 First Dates,What Women Want,The Bourne Supremacy,Lord of the Rings: The Fellowship of the Ring,Braveheart,Ghost,...,Independence Day,The Day After Tomorrow,Sweet Home Alabama,Con Air,The Green Mile,The Fugitive,Titanic,Indiana Jones and the Last Crusade,National Treasure,The Terminal
0,1333,4.0,NaN,2.0,3.0,3.0,3.0,5.0,4.0,2.0,...,2.0,4.0,2.0,1.0,3.0,3.0,4.0,3.0,3.0,4.0
1,3321,4.0,NaN,4.0,4.0,4.0,3.0,5.0,5.0,4.0,...,4.0,NaN,NaN,4.0,5.0,4.0,4.0,5.0,4.0,4.0
2,10268,4.0,3.0,3.0,NaN,4.0,4.0,4.0,4.0,3.0,...,4.0,4.0,3.0,4.0,5.0,4.0,4.0,4.0,4.0,4.0
3,10374,4.0,3.0,5.0,4.0,4.0,5.0,5.0,5.0,5.0,...,5.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,5.0,5.0
4,11043,3.0,5.0,5.0,5.0,5.0,4.0,4.0,5.0,4.0,...,5.0,4.0,5.0,5.0,5.0,5.0,5.0,4.0,5.0,4.0

In [3]:
customer_ids = py_netflix_data['Cust_Id'].iloc[0:100]
rating_df = py_netflix_data.iloc[0:100,1:51]
rating_df.head()

,American Beauty,The Wedding Planner,Pirates of the Caribbean: The Curse of the Black Pearl,50 First Dates,What Women Want,The Bourne Supremacy,Lord of the Rings: The Fellowship of the Ring,Braveheart,Ghost,Men in Black II,...,Independence Day,The Day After Tomorrow,Sweet Home Alabama,Con Air,The Green Mile,The Fugitive,Titanic,Indiana Jones and the Last Crusade,National Treasure,The Terminal
0,4.0,NaN,2.0,3.0,3.0,3.0,5.0,4.0,2.0,1.0,...,2.0,4.0,2.0,1.0,3.0,3.0,4.0,3.0,3.0,4.0
1,4.0,NaN,4.0,4.0,4.0,3.0,5.0,5.0,4.0,4.0,...,4.0,NaN,NaN,4.0,5.0,4.0,4.0,5.0,4.0,4.0
2,4.0,3.0,3.0,NaN,4.0,4.0,4.0,4.0,3.0,3.0,...,4.0,4.0,3.0,4.0,5.0,4.0,4.0,4.0,4.0,4.0
3,4.0,3.0,5.0,4.0,4.0,5.0,5.0,5.0,5.0,5.0,...,5.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,5.0,5.0
4,3.0,5.0,5.0,5.0,5.0,4.0,4.0,5.0,4.0,4.0,...,5.0,4.0,5.0,5.0,5.0,5.0,5.0,4.0,5.0,4.0

In [4]:
scaler = StandardScaler()
scaler.fit(rating_df)
scaled_df = pd.DataFrame(scaler.transform(rating_df))
scaled_df.index = rating_df.index
scaled_df.columns = rating_df.columns
scaled_df = round(scaled_df, 3)
scaled_df.head()

,American Beauty,The Wedding Planner,Pirates of the Caribbean: The Curse of the Black Pearl,50 First Dates,What Women Want,The Bourne Supremacy,Lord of the Rings: The Fellowship of the Ring,Braveheart,Ghost,Men in Black II,...,Independence Day,The Day After Tomorrow,Sweet Home Alabama,Con Air,The Green Mile,The Fugitive,Titanic,Indiana Jones and the Last Crusade,National Treasure,The Terminal
0,0.116,NaN,-1.839,-0.716,-0.391,-1.148,0.534,-0.191,-1.593,-1.847,...,-1.837,0.307,-1.360,-2.346,-1.306,-1.298,0.183,-1.445,-0.793,0.327
1,0.116,NaN,-0.019,0.277,0.576,-1.148,0.534,0.727,0.269,0.814,...,0.130,NaN,NaN,0.389,0.863,0.013,0.183,0.839,0.163,0.327
2,0.116,0.020,-0.929,NaN,0.576,0.014,-0.481,-0.191,-0.662,-0.073,...,0.130,0.307,-0.439,0.389,0.863,0.013,0.183,-0.303,0.163,0.327
3,0.116,0.020,0.891,0.277,0.576,1.175,0.534,0.727,1.200,1.700,...,1.114,1.238,1.402,0.389,0.863,1.325,1.070,0.839,1.120,1.274
4,-0.750,1.713,0.891,1.269,1.542,0.014,-0.481,0.727,0.269,0.814,...,1.114,0.307,1.402,1.301,0.863,1.325,1.070,-0.303,1.120,0.327

In [5]:
# Example in the paper
a = np.array([[2/3, 0, 0, 5/3, -7/3, 0, 0]])
b = np.array([[0, 0, 0, -5/3, 1/3, 4/3, 0]])
cosine_similarity(a, b)

array([[-0.55908525]])

In [6]:
# sklearn.cosine_similiarity doesn't allow NA values
# Imputing NA with 0 does not affect the value for cosine similiarity.
scaled_df = scaled_df.fillna(0)
scaled_df = pd.DataFrame(scaled_df.to_records())
scaled_df

,index,American Beauty,The Wedding Planner,Pirates of the Caribbean: The Curse of the Black Pearl,50 First Dates,What Women Want,The Bourne Supremacy,Lord of the Rings: The Fellowship of the Ring,Braveheart,Ghost,...,Independence Day,The Day After Tomorrow,Sweet Home Alabama,Con Air,The Green Mile,The Fugitive,Titanic,Indiana Jones and the Last Crusade,National Treasure,The Terminal
0,0,0.116,0.000,-1.839,-0.716,-0.391,-1.148,0.534,-0.191,-1.593,...,-1.837,0.307,-1.360,-2.346,-1.306,-1.298,0.183,-1.445,-0.793,0.327
1,1,0.116,0.000,-0.019,0.277,0.576,-1.148,0.534,0.727,0.269,...,0.130,0.000,0.000,0.389,0.863,0.013,0.183,0.839,0.163,0.327
2,2,0.116,0.020,-0.929,0.000,0.576,0.014,-0.481,-0.191,-0.662,...,0.130,0.307,-0.439,0.389,0.863,0.013,0.183,-0.303,0.163,0.327
3,3,0.116,0.020,0.891,0.277,0.576,1.175,0.534,0.727,1.200,...,1.114,1.238,1.402,0.389,0.863,1.325,1.070,0.839,1.120,1.274
4,4,-0.750,1.713,0.891,1.269,1.542,0.014,-0.481,0.727,0.269,...,1.114,0.307,1.402,1.301,0.863,1.325,1.070,-0.303,1.120,0.327
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,0.982,0.020,-0.019,0.277,-0.391,0.014,0.534,-0.191,0.269,...,0.130,0.307,0.482,0.389,0.863,0.013,0.183,0.839,0.000,0.327
96,96,0.982,1.713,0.891,1.269,1.542,1.175,0.534,0.727,0.269,...,1.114,1.238,1.402,1.301,0.863,1.325,1.070,0.839,1.120,1.274
97,97,-1.616,0.866,-0.019,1.269,0.576,-1.148,-0.481,-0.191,1.200,...,0.130,0.307,0.482,0.389,0.863,0.013,-0.703,-0.303,-0.793,0.327
98,98,-0.750,0.020,-1.839,1.269,-0.391,1.175,-3.526,0.727,0.000,...,1.114,-0.624,-0.439,1.301,0.863,1.325,-1.590,0.839,1.120,0.000
99,99,0.000,0.000,0.891,-0.716,-1.357,-1.148,0.534,-1.110,0.269,...,1.114,-0.624,0.000,1.301,0.000,0.013,-1.590,0.839,-0.793,0.000

In [7]:
# Add back in customer_ids
scaled_df.insert(loc=0, column='cust_id', value=customer_ids)
scaled_df.head()

,cust_id,index,American Beauty,The Wedding Planner,Pirates of the Caribbean: The Curse of the Black Pearl,50 First Dates,What Women Want,The Bourne Supremacy,Lord of the Rings: The Fellowship of the Ring,Braveheart,...,Independence Day,The Day After Tomorrow,Sweet Home Alabama,Con Air,The Green Mile,The Fugitive,Titanic,Indiana Jones and the Last Crusade,National Treasure,The Terminal
0,1333,0,0.116,0.000,-1.839,-0.716,-0.391,-1.148,0.534,-0.191,...,-1.837,0.307,-1.360,-2.346,-1.306,-1.298,0.183,-1.445,-0.793,0.327
1,3321,1,0.116,0.000,-0.019,0.277,0.576,-1.148,0.534,0.727,...,0.130,0.000,0.000,0.389,0.863,0.013,0.183,0.839,0.163,0.327
2,10268,2,0.116,0.020,-0.929,0.000,0.576,0.014,-0.481,-0.191,...,0.130,0.307,-0.439,0.389,0.863,0.013,0.183,-0.303,0.163,0.327
3,10374,3,0.116,0.020,0.891,0.277,0.576,1.175,0.534,0.727,...,1.114,1.238,1.402,0.389,0.863,1.325,1.070,0.839,1.120,1.274
4,11043,4,-0.750,1.713,0.891,1.269,1.542,0.014,-0.481,0.727,...,1.114,0.307,1.402,1.301,0.863,1.325,1.070,-0.303,1.120,0.327

In [8]:
# Finding the most similar user with the first user in our dataframe, customer ID #6
# Extract an array using the movie ratings of that user

rating_user6 = np.array([scaled_df.iloc[0, 2:]])
max_similarity = 0
similar_user = 0
for i in range(len(scaled_df)):
    if i == 0:
        continue
    target_user = np.array([scaled_df.iloc[i, 2:]])
    curr_similarity = cosine_similarity(rating_user6, target_user)[0][0]
    if max_similarity < curr_similarity:
        max_similarity = curr_similarity
        similar_user = i

In [9]:
print("Similar User:", scaled_df['cust_id'].iloc[similar_user])
print("Similarity Score:", max_similarity)

Similar User: 341649
Similarity Score: 0.5818877077160263

In [10]:
similar_df = scaled_df.iloc[[0,similar_user]]
similar_df

,cust_id,index,American Beauty,The Wedding Planner,Pirates of the Caribbean: The Curse of the Black Pearl,50 First Dates,What Women Want,The Bourne Supremacy,Lord of the Rings: The Fellowship of the Ring,Braveheart,...,Independence Day,The Day After Tomorrow,Sweet Home Alabama,Con Air,The Green Mile,The Fugitive,Titanic,Indiana Jones and the Last Crusade,National Treasure,The Terminal
0,1333,0,0.116,0.00,-1.839,-0.716,-0.391,-1.148,0.534,-0.191,...,-1.837,0.307,-1.36,-2.346,-1.306,-1.298,0.183,-1.445,-0.793,0.327
74,341649,74,0.982,0.02,-0.019,-1.708,0.576,-1.148,0.534,0.727,...,0.130,-0.624,-1.36,-1.434,-1.306,-1.298,1.070,-3.730,-0.793,0.000

In [24]:
#rating_df.insert(loc=0, column='cust_id', value=customer_ids)
rating_df = rating_df.fillna(0)

In [20]:
def get_similarities(idx, movie_df):
    current_rating = np.array([movie_df.iloc[idx, 2:]]) # rating of the current user
  
    # Get similarity with all the other users
    similarity_list = []
  
    for i in range(len(movie_df)):
        if i == idx:
            continue

        another_rating = np.array([movie_df.iloc[i, 2:]]) # rating of another 
        curr_similarity = round(cosine_similarity(current_rating, another_rating)[0][0], 3)
        similarity = {
            'user_idx': i,
            'cosine_similarity': curr_similarity
        }
        similarity_list.append(similarity)
    
    return similarity_list

In [21]:
def recommend_movies(idx, movie_df):
    recommended_movies = pd.DataFrame()
    current_rating = np.array([movie_df.iloc[idx, 2:]]) # rating of the current user

    if None not in current_rating:
        print("This user has watched all the movies.")
        return recommended_movies

    # Get similarity with all the other users
    similarity_list = get_similarities(idx, movie_df)

    # Get weighted average for the movies
    movies = movie_df.columns[2:]
    movie_predicted_ratings = []
    for movie in movies:
        current_user_rating = movie_df[movie].iloc[idx]
        if current_user_rating != 0:
            continue

        numerator = 0
        denominator = 0
        for similarity in similarity_list:
            other_idx = similarity['user_idx']
            other_similarity = similarity['cosine_similarity']
            other_user_rating = movie_df[movie].iloc[other_idx]

            # Weighted average will take into account users who actually rated the movie
            if other_user_rating == 0:
                continue

            numerator += other_user_rating * other_similarity
            denominator += other_similarity

        if denominator == 0:
            continue
        else:
            predicted_rating = numerator / denominator
            movie_predicted_ratings.append({
                'movie': movie,
                'predicted_rating': predicted_rating
            })

    recommended_movies = pd.DataFrame(movie_predicted_ratings).sort_values(by=['predicted_rating'], ascending=False)
    return recommended_movies

In [25]:
print(recommend_movies(0, rating_df))

                 movie  predicted_rating
2      Lethal Weapon 4          3.533099
1      Double Jeopardy          3.462092
0  The Wedding Planner          2.977407

In [26]:
print(recommend_movies(1, rating_df))

                    movie  predicted_rating
1         The Italian Job          3.681192
5  The Day After Tomorrow          3.673998
4             The Patriot          3.632678
6      Sweet Home Alabama          3.468968
3                  John Q          3.346971
2            Pearl Harbor          3.211934
0     The Wedding Planner          2.979557

In [27]:
print(recommend_movies(2, rating_df))

            movie  predicted_rating
0  50 First Dates          3.729394

In [28]:
print(recommend_movies(175, rating_df))

IndexError: single positional indexer is out-of-bounds